body {
    background: #dddddd;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-content: start;
}
h1 {
    font-weight: bold;
    text-align: center;
}
.showcase-layout {
    display: flex;
    height: 100vh;
}
p.header3-block {
    text-align: center;
    font-size: larger;
    color: red;
    text-transform: uppercase;
}
.left-container {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-left: 25%;
    background: #d2d1d1;
    font-size: larger;
}
.category-block {
    padding: 20px 5px 20px 20px;
    margin: 0;
    text-align: left;
    font-size: large;
    color: #3c3737;
}
div.left-container>p.category-block {
    order: var(--value);
}
.grid-container {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
.grid-cell {
    text-align: center;
}
div.grid-cell:nth-child(8n+2) {
    grid-column: 2 / 4;
    grid-row: 1;
}
div.grid-cell:nth-child(8n+6) {
    grid-column: 1 / 3;
    grid-row: 3;
}
div.grid-cell:nth-child(8n+8) {
    grid-column: 1 / 4;
    grid-row: 4;
}
p.category-block:hover {
    color: #dddddd;
    background: #3c3737;
}
div.grid-cell:nth-child(n) img {
    max-height: 100%;
    max-width: 100%;
}
p.name-container {
    display: none;
}
img:hover+p.name-container {
    display: block;
    position: absolute;
    background: rgba(60,55,55, 0.5);
    padding: 10px;
    color: white;
    margin-top: -100px;
}
.right-container {
    width: 10%;
    background: #d2d1d1;
    color: #3c3737;
    height: max-content;
}
.filter-checkbox {
    float: right;
    height: auto;
}
.rating-block {
    width: 100%;
}
.scale-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 10px;
}
.scale-block {
    background: white;
    width: 70%;
    margin: 10px;
}
div.right-container label {
    padding-left: 20px;
}
.middle-value-scale-block {
    background: #ffff66;
    height: 100%;
    width: 60%;
}
.high-value-scale-block {
    background: #98ff66;
    height: 100%;
    width: 100%;
}
.low-value-scale-block {
    background: #FF0000;
    height: 100%;
    width: 30%;
}
.rating-container-wrapper {
    display: flex;
    flex-direction: column;
}
input.filter-checkbox:checked~div.rating-container-wrapper>div.rating-block {
    order: var(--rating);
}
input:checked~div.rating-container-wrapper {
    flex-direction: column-reverse;
}
footer {
    border-top: solid 2px #3c3737;
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.copyright-container {
    background: #dddddd;
    width: 25%;
    text-align: center;
    margin-left: 10%;
    color: #3c3737;
}
.separator-container {
    background: #dddddd;
    width: 30%;
}
.contacts-container {
    background: #dddddd;
    width: 25%;
    text-align: center;
    color: darkblue;
}
